<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.styledmap">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/mavent_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- The API key for Google Maps-based APIs. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.styledmap.android.fileprovider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MapsActivityRaw"
            android:label="@string/title_activity_maps"
            android:launchMode="singleTop">

        </activity>
        <activity
            android:name="com.Settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MapsActivityRaw">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MapsActivityRaw" />
        </activity>
        <activity
            android:name="com.Login.LoginActivity"
            android:label="@string/mavent_app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Login.SignupActivity"
            android:label="@string/signup">

        </activity>
        <activity
            android:name="com.CreateEvent.CreateEvent"
            android:label="@string/create_event">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MapsActivityRaw" />
        </activity>
        <activity
            android:name="com.ViewPagerContact.ViewPagerActivity"
            android:label="@string/mavent_app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MapsActivityRaw" />
        </activity>
        <activity android:name="com.ViewPagerContact.ContactActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ViewPagerContact.ViewPagerActivity" />
        </activity>
    </application>

</manifest>